Dataflow.json
{
  "name": "Dataflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0dddacc5-50c8-4b5c-afc8-0af8003f4da2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "foxtrot",
          "mode": "list",
          "cachedResultName": "foxtrot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        912,
        -48
      ],
      "id": "0186b112-78f3-441e-a382-ce707842efcd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JS4gvyLCu4MxqByn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "ahmadamjadd",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "CS351_lab",
          "mode": "list",
          "cachedResultName": "CS351_lab",
          "cachedResultUrl": "https://github.com/ahmadamjadd/CS351_lab"
        },
        "filePath": "={{ $json.path || '/' }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "306c7ba2-1fd6-4d35-baa5-006152baaa15",
      "name": "List files",
      "webhookId": "6d70fd62-76bb-44c5-baf0-c4424ccfa4b9",
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ahmadamjadd",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "CS351_lab",
          "mode": "list",
          "cachedResultName": "CS351_lab",
          "cachedResultUrl": "https://github.com/ahmadamjadd/CS351_lab"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "10a784c9-7116-4256-82c4-e9edd5b8d208",
      "name": "Get a file",
      "webhookId": "54b64030-3598-4b04-abec-64e48e534410",
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "dir",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82b0637f-4300-49a8-9efe-7aa7841701cb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa453e0c-1935-4825-b284-b1aec4e33ecd",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        432,
        0
      ],
      "id": "d0f0f0a5-ae32-42ea-a066-2d6345bb4801",
      "name": "Switch"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        160
      ],
      "id": "3c6d739b-87b4-4c2a-8633-8d59788bbaf8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b9e5dc6-a47b-4c92-8e26-61d387829823",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".py",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        656,
        176
      ],
      "id": "91d3eeaa-709c-41b7-b503-81ba419d7956",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        176
      ],
      "id": "eda40b82-6e89-45b6-a241-09894667688f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "kwAThRqPghCdQMfv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7a6cf1ab-8299-42cc-a7a3-76cc6c0e0799",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84477c8594e4e5fa1a85df07d16feed30068678c5643e6e958310722165b467f"
  },
  "id": "GaqcARRtCZCNVB7jBUkn3",
  "tags": []
}