Backend/Dataflow/Foxtrot_DataFlow_Child.json
{
  "name": "Foxtrot_DataFlow_Child",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        384
      ],
      "id": "971e6cf1-8b4d-4f94-8ffd-fb93810456b2",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Team-Foxtrot-GIKI",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Execute Workflow Trigger').item.json.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path || '/' }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        560,
        384
      ],
      "id": "6a9ecaf9-aa67-4c3e-9a82-f2e7289a3453",
      "name": "List Repo Contents",
      "webhookId": "50dcc9a1-5695-46fa-98a2-ea1e311c8bc1",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "dir",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82b0637f-4300-49a8-9efe-7aa7841701cb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa453e0c-1935-4825-b284-b1aec4e33ecd",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        880,
        384
      ],
      "id": "0b60a8ea-d349-475a-bff7-ceadd0059755",
      "name": "Route by Type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0ce430b-49c1-47ab-be92-2bf19aec00ea",
              "leftValue": "={{ $json.name }}",
              "rightValue": "^(\\.git|\\.venv|__pycache__|site-packages|node_modules|dist-info|PackageCache|Artifacts|Logs|UserSettings|assets|Plugins|Library|mavlink|\\.github)$",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        880,
        672
      ],
      "id": "affd4c85-c9ca-4568-bd83-725f98c84310",
      "name": "Dir Exclusion Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a03d019-e684-41b1-9441-1f463ec0131f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "^(?!.*(\\/Library\\/|\\/\\.git\\/|\\/\\.venv\\/|\\/__pycache__\\/|\\/site-packages\\/|\\/node_modules\\/|\\/dist-info\\/|\\/PackageCache\\/|\\/Artifacts\\/|\\/Logs\\/|\\/UserSettings\\/|\\/assets\\/|\\/Assets\\/Plugins\\/|mavlink)).*\\.(py|md|lua|txt|yaml|yml|ipynb|waypoints)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1200,
        384
      ],
      "id": "99ae60e2-a448-4188-93bf-429d46683597",
      "name": "File Type Filter"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Team-Foxtrot-GIKI",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Execute Workflow Trigger').item.json.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1520,
        384
      ],
      "id": "1c0a6798-5a97-4e6b-8c6e-86a950fde76c",
      "name": "Fetch File Content",
      "webhookId": "f3f94e97-5811-406a-b336-935c545a50c0",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "foxtrot",
          "mode": "list",
          "cachedResultName": "foxtrot"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $('Execute Workflow Trigger').item.json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1840,
        384
      ],
      "id": "72bd0b2a-8d80-4f73-95ed-c91709f42512",
      "name": "Pinecone Vector Store",
      "notesInFlow": false,
      "credentials": {
        "pineconeApi": {
          "id": "JS4gvyLCu4MxqByn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1840,
        624
      ],
      "id": "0948f5cc-3dc1-4bdd-a913-0fe242ea609a",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "1rngl2euAMMxLRF0",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "repo",
                "value": "={{ $('Execute Workflow Trigger').item.json.name }}"
              },
              {
                "name": "filePath",
                "value": "={{ $('File Type Filter').item.json.path }}"
              },
              {
                "name": "fileName",
                "value": "={{ $('File Type Filter').item.json.name }}"
              },
              {
                "name": "fileExtension",
                "value": "={{ $('File Type Filter').item.json.name.split('.').pop() }}"
              },
              {
                "name": "source",
                "value": "=https://github.com/Team-Foxtrot-GIKI/{{ $('Execute Workflow Trigger').item.json.name }}/blob/main/{{ $('File Type Filter').item.json.path }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2032,
        624
      ],
      "id": "de0798e7-a61e-408e-899e-4c5a7410c1a5",
      "name": "Document Loader",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# 📂 Foxtrot DataFlow — Child Workflow (Per-Repo Processor)\n\nProcesses a **single repository** received from the Parent workflow.\n\n### Pipeline\n1. **Receives** repo name from parent\n2. **Lists** all files/dirs at current path (starts at root `/`)\n3. **Routes** items: directories ↓ recurse · files → filter & embed\n4. **Filters out** junk directories (`.git`, `.venv`, `node_modules`…)\n5. **Filters files** by extension (`.py`, `.md`, `.lua`, `.txt`…)\n6. **Fetches** file content from GitHub\n7. **Embeds** content into Pinecone under the repo's namespace\n\n---\n\n| Property | Value |\n|---|---|\n| **Vector DB** | Pinecone (index: `foxtrot`) |\n| **Namespace** | Repository name (one per repo) |\n| **Embeddings** | HuggingFace Inference API |\n| **Terminal Node** | Pinecone — no loop back to parent |"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "930f9f47-f07f-406f-bc11-6dbb8d467e64",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### ⚡ Entry Point\n\nReceives a **single repo object**\nfrom the parent workflow via\n`passthrough` mode.\n\nKey field: `json.name`\n(the repository name)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        288
      ],
      "typeVersion": 1,
      "id": "82aa8bab-064a-45a8-b166-b6b9fe158c01",
      "name": "Note: Entry Point"
    },
    {
      "parameters": {
        "content": "### 📂 List Contents\n\nGitHub API: list files at\nthe current `path`.\n\nFirst call uses `/` (root).\nRecursive calls use the\ndirectory's `path` field.\n\nReturns both **files** and\n**directories** as items."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        240
      ],
      "typeVersion": 1,
      "id": "efc8c5ca-c4e8-4ed0-ba0a-f37408a45723",
      "name": "Note: List Contents"
    },
    {
      "parameters": {
        "content": "### 🔀 Route by Type\n\nSplits items into two paths:\n\n**Output 0** → `type == \"dir\"`\nGoes ↓ to Dir Exclusion Filter\nthen loops back to List Contents\n\n**Output 1** → `type == \"file\"`\nGoes → to File Type Filter\nthen proceeds to fetch & embed"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        240
      ],
      "typeVersion": 1,
      "id": "baef14a3-39c5-45a4-a723-c847b0faaddb",
      "name": "Note: Route"
    },
    {
      "parameters": {
        "content": "### 🔍 File Extension Filter\n\nKeeps only files matching:\n`.py` `.md` `.lua` `.txt`\n`.yaml` `.yml` `.ipynb`\n`.waypoints`\n\nAlso excludes paths containing\njunk folders via negative\nlookahead in the regex.\n\n_Discards `.docx`, `.json`,\nimages, binaries, etc._"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        240
      ],
      "typeVersion": 1,
      "id": "28c6872d-c16b-4c4d-9518-75b790167bf4",
      "name": "Note: File Filter"
    },
    {
      "parameters": {
        "content": "### 📥 Fetch Content\n\nGitHub API: downloads the\nraw file content for each\nfile that passed the filter.\n\n✅ `retryOnFail` enabled\nfor transient API errors."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        272
      ],
      "typeVersion": 1,
      "id": "56f716e9-093f-44a2-8180-03e16c92d4bd",
      "name": "Note: Fetch"
    },
    {
      "parameters": {
        "content": "### 🧠 Embed & Store\n\nInserts file content into\n**Pinecone** vector database.\n\n**Index:** `foxtrot`\n**Namespace:** repo name\n(each repo gets its own\nisolated namespace)\n\nThis is the **terminal node** —\nonce embedded, the workflow\nends for this repo."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        240
      ],
      "typeVersion": 1,
      "id": "e6dabc5d-9370-4158-8210-67505389b648",
      "name": "Note: Embed & Store"
    },
    {
      "parameters": {
        "content": "### 🔄 Directory Recursion Loop\n\nDirectories from the Switch come here ↓\n\n**Blocks junk directories:**\n`.git` · `.venv` · `__pycache__`\n`node_modules` · `site-packages`\n`dist-info` · `PackageCache`\n`Artifacts` · `Logs` · `UserSettings`\n`assets` · `Plugins` · `Library`\n`mavlink` · `.github`\n\nSurvivors loop **back up** to\n\"List Repo Contents\" → recursive\ndirectory traversal! 🔁"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        560
      ],
      "typeVersion": 1,
      "id": "2de2b3c8-7ce2-4523-8a25-39b326c994e7",
      "name": "Note: Dir Recursion"
    },
    {
      "parameters": {
        "content": "### 🤖 AI Components\n\n**Embeddings:** HuggingFace\nInference API (default model)\n\n**Document Loader:** Binary text\nloader — reads raw file content\nfrom the GitHub API response.\n\n_Both feed into Pinecone\nVector Store as sub-nodes._"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        544
      ],
      "typeVersion": 1,
      "id": "f6465802-47f1-4dfa-8c8c-4ca5591bf668",
      "name": "Note: AI Components"
    },
    {
      "parameters": {
        "content": "### 📋 Supported File Types\n\n| Extension | Type |\n|---|---|\n| `.py` | Python source |\n| `.md` | Markdown docs |\n| `.lua` | Lua scripts |\n| `.txt` | Plain text |\n| `.yaml` `.yml` | Config files |\n| `.ipynb` | Jupyter notebooks |\n| `.waypoints` | Drone waypoints |\n\n_All other extensions are\ndiscarded (images, binaries,\n.docx, .json, etc.)_"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        576
      ],
      "typeVersion": 1,
      "id": "48c10297-2190-41c8-b972-35e6b87eaeec",
      "name": "Note: File Types"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      item.binary[key].mimeType = 'text/plain';\n    }\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        704
      ],
      "id": "d618aa79-ce26-4e1f-80d1-7e55f19e841f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "List Repo Contents": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Dir Exclusion Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Type Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "List Repo Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Filter": {
      "main": [
        [
          {
            "node": "Fetch File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dir Exclusion Filter": {
      "main": [
        [
          {
            "node": "List Repo Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1ff06909-3854-4fc6-ade7-c77337438fa3",
  "meta": {
    "instanceId": "84477c8594e4e5fa1a85df07d16feed30068678c5643e6e958310722165b467f"
  },
  "id": "cKpYNOj9mdUvwvbl_9xpz",
  "tags": []
}